{% extends 'templates/base.html' %}
{% load staticfiles %}
{% load invitations_tag_library %}
{% block extra_head %}
<link type="text/css" rel="stylesheet" href="{% static 'css/admin/admin.css' %}"/>
<script src="{% static 'js/admin.js' %}"></script>

<link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
{% endblock %}
{% block main_content %}
<section class="banner user">
  <div class="banner-background">
    <div class="container">
      <div class="guest">
        <p>No. {{ invitation.id }} | Created: {{ invitation.created|date:"d.m.Y." }}</p>
        <h2>{{ invitation.name }} {{ invitation.surname }}</h2>
      </div>
      <div class="info">
        <div class="element">
          <p><i class="fas fa-envelope circle-white"></i> {{ invitation.email }}</p>
        </div>
        <div class="element">
          <p><i class="fas fa-phone circle-white"></i> {{ invitation.phone|format_phone_number }}</p>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="dashboard">
<div class="boards">
    
</div>
<div class="confirmations">
    
</div>
</div>

{% endblock %}
