:root {
    --main-pink: #fc8f9b;
    --white: #fff;

}

:focus {
    outline: none;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background:#F2F5FA;
}

#loading {
    background: #F6F3E2 url("../img/loading.gif") no-repeat scroll center;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 101;
    opacity: .55;
    background-size: 35%;
    height: 100%;
    display:none;
}

header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: #6b6e73;
    border-bottom: 1px solid #cacaca;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
}

header .logo {
    display: flex;
    justify-content: space-between;
}

header .logo h3 {
    margin: 0;
}

header .account {
    display: flex;
    justify-content: space-between;
}

/*
header .menu {

}
*/



/*
header .logo {

}
*/