:root {
    --main-pink: #fc8f9b;
    --white: #fff;

}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family:Garamond;
}

#loading {
    background: #F6F3E2 url("../img/loading.gif") no-repeat scroll center;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 101;
    opacity: .55;
    background-size: 35%;
    height: 100%;
    display:none;
}

header {
    background: var(--main-pink);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: var(--white);
}

/*
header .menu {

}
*/

header .name {
    margin: 0;
}

/*
header .logo {

}
*/