

button {
    background: #f78888;
    border: none;
    padding: 10px;
    border-radius: 30px;
    color: rgb(255, 255, 255);
}

button:hover {
    background: #de7373;
}




#admin-header {
    background: #fff;
}

#admin-header p {
    background: #fff;
    margin: 0;
}

#admin-header .admin-header-container {
    margin: auto 100px;
    display: flex;
    justify-content: space-between;
}


#invitations {
    max-width:900px;
    margin: 20px auto;
}


.filters {
    margin-bottom: 20px;
}






.invitations-container {
    color: #6b6e73;
}

.invitations-container .header {
    display: flex;
    padding: 5px 15px;
    font-weight:bold;
}

.invitations-container .header .element{
    width: 25%;
}


/* ADMIN INVITATIONS VIEW */
.invitations-container .guest {
    display: flex;
    border-radius: 10px;
    border: 1px solid #dedede;
    box-shadow: 0 0 2px 0px rgba(0,0,0,.1);
    background: #fff;
    padding: 20px 10px;
    margin-bottom: 10px;
}

.invitations-container p {
    margin: 0;
}

.invitations-container .guest .element {
    width:26%;
}

.invitations-container .guest .first {
    display:flex;
    width:12%;
}

.invitations-container .guest .last {
    display:flex;
    width:10%;
    justify-content: flex-end;
}

.invitations-container .guest .element i {
    font-size: 1.2em;
    width: 1.4em;
    padding: 0.2em;
    text-align: center;
    line-height: 1.4em;
    border: 1px solid #c2c2c2;
    border-radius: 50%;
    margin: 0.1em;
}










