{% extends 'templates/base.html' %}
{% load staticfiles %}
{% load guests_tag_library %}
{% block extra_head %}
<link type="text/css" rel="stylesheet" href="{% static 'css/admin.css' %}"/>
<script src="{% static 'js/admin.js' %}"></script>

<link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
{% endblock %}
{% block main_content %}
    <section>
        <div class="controls">
            <button>Show more</button>
            <button class="add" onclick="createNewInvitation()">Create new</button>
            <button class="cancel" style="display:none;" onclick="cancelNewInvitation()">Cancel</button>
        </div>   
        <dic class="invitations">  
            {% block new_invitation %}
            {% endblock %}
            
            
            <!-- Invite -->
            {% for invite in invitations %}
                <div class="invite">
                    
                    {% for guest in guests %}
                        {% if guest.invitation_id == invite.id %}
                            <div class="invite-container">
                                <div class="invite-guest">
                                    <div class="invite-controls">
                                        <i class="fas fa-file-pdf"></i>
                                        <i class="fas fa-pen-square"></i>
                                        <i class="fas fa-minus-square"></i>
                                    </div>
                                    <div class="invite-guest-info">
                                        <h2>{{guest.name}} {{guest.surname}}</h2>
                                        <p>{{guest.phone|format_phone_number}}</p>
                                        <p>{{guest.email}}</p>
                                    </div>
                                </div>
                                <div class="invite-info">
                                    <p><i class="fas fa-key"></i>   {{invite.slug}}</p>
                                    <p><i class="fas fa-calendar"></i>   {{invite.created|date:"d.m.Y."}}</p>
                                    {% if invite.confirmed %}
                                        <p><i class="fas fa-check-circle"></i>   Confirmed</p>
                                    {% else %}
                                        <p><i class="fas fa-exclamation-circle"></i>   Waiting</p>
                                    {% endif %}
                                    {% if invite.isFamily %}
                                        <p><i class="fas fa-users"></i>   Family</p>
                                    {% else %}
                                        <p><i class="fas fa-user"></i>   Not Family</p>
                                    {% endif %}
                                </div>
                                
                            </div>

                            <div class="invite-escort-container">
                                    {% for escort in escorts %}
                                        {% if escort.guest_id == guest.id %}
                                            <div class="invite-escort">
                                                <div>
                                                    <h4><i class="fas fa-user-circle"></i> {{escort.name}} {{escort.surname}}</h4>
                                                </div>
                                                <div>
                                                    <p>{{escort.phone}}</p>
                                                </div>
                                                <div>
                                                    <p>{{escort.email}}</p>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                        {% endif %}
                    {% endfor %}
                    





                </div>
            {% endfor %}

        </div>
    <section>
{% endblock %}
