{% extends 'templates/base.html' %}
{% load staticfiles %}
{% load guests_tag_library %}
{% block extra_head %}
<link type="text/css" rel="stylesheet" href="{% static 'css/admin.css' %}"/>
<script src="{% static 'js/admin.js' %}"></script>

<link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
{% endblock %}
{% block main_content %}

    
    <section id="admin-header">
        <div class="admin-header-container">
            <div>
                <p>Board</p>
            </div>
            <div>
                <p>Search</p>
            </div>
            <div>
                <button class="add" onclick="createNewInvitation()">Create new</button>
                <button class="cancel" style="display:none;" onclick="cancelNewInvitation()">Cancel</button>
            </div>
        </div>
    </section>

    <section id="invitations">
        


        <div class="filters">
            <div>
                <p>SORT BY:</p>
            </div>
            <div>
                <p>Date Created</p>
                <p>Name</p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>   


        <div class="invitations-container">
            {% block new_invitation %}
            {% endblock %}

            {% block success_message %}
            {% endblock %}


            {% for invite in invitations %}
                {% for guest in guests %}
                    {% if guest.invitation_id == invite.id %}
                            <div class="invitation guest guest_{{guest.id}}">
                                <div class="element first">
                                    {% if invite.confirmed %}
                                        <p><i class="fas fa-check"></i></p>
                                    {% else %}
                                        <p><i class="fas fa-exclamation-circle"></i></p>
                                    {% endif %}
                                
                                    {% if invite.isFamily %}
                                        <p><i class="fas fa-users"></i></p>
                                    {% else %}
                                        <p><i class="fas fa-user"></i></p>
                                    {% endif %}
                                </div>
                                <div class="element">
                                    <strong>{{invite.created|date:"d.m.Y."}}</strong><br>
                                    No. {{invite.id}}
                                </div>
                                <div class="element">
                                    <strong>{{guest.name}} {{guest.surname}}</strong><br>
                                    {% if guest.id|has_escort %}
                                        Has Escort
                                    {% else %}
                                        Has no Escort
                                    {% endif %}
                                </div>
                                <div class="element">
                                    {{guest.email}}<br>
                                    {{guest.phone|format_phone_number}}
                                </div>
                                <div class="element last">
                                    <p><i class="fas fa-file-pdf"></i></p>
                                    <a href="{% url 'invitation' %}{{ invite.id }}"><i class="fas fa-external-link-alt"></i></a>
                                </div>
                            </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    <section>
{% endblock %}




