{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Epistoleus {% block extra_title %}{% endblock %}</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}"/>
  
  <script src="{% static 'js/base.js' %}"></script>
  {% block extra_head %}{% endblock %}
</head>
<body>
<div id="message">
  <div class="box">
    <p>Copied!</p>
  </div>
</div>

<div id="loading"></div>
<header>
    <a href="/" class="logo">
        <img src="{% static 'img/logo.png' %}"/>
        <h3 class="name">Epistoleus</h3>
    </a>
    <!-- Menu -->
    <div class="menu-desktop">
        <a href="/" class="button">Home</a>
        <a href="/about/" class="button">About us</a>
        <a href="/contacts/" class="button">Contacts</a>
      {% if user.is_authenticated %}
        <div class="dropdown">
          <button onclick="toggleDropdown()" class="button-drop">Admin <i class="fas fa-caret-down"></i></button>
          <div id="dropdown" class="dropdown-content">
            <a href="{% url 'dashboard' username=user.username%}">Dashboard</a>
            <a href="{% url 'boards' username=user.username%}">Boards</a>
            <a href="/a/password/change/">Change password</a>
            <a href="/a/logout/">Log out</a>
          </div>
        </div>
      {% else %}
        <a href="/a/login/" class="button-login" style="margin-left:10px;">Log in</i></a>
      {% endif %}
    </div>
</header>

{% block main_content %}

{% endblock %}

<footer>
</footer>
</body>
</html>
