{% extends 'base/base.html' %}
{% load staticfiles %}
{% block extra_head %}
<link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}"/>
<script src="{% static 'js/main.js' %}"></script>


<link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
{% endblock %}
{% block main_content %}
  <div class="post-form">
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <button type="submit" value="Submit" id="submit">Submit</button>
    </form>
  </div>
  {% block invitation_content %}
  {% endblock %}
{% endblock %}
