{% extends 'auth/login_base.html' %}
{% load staticfiles %}

{% block extra_title %} | Reset password{% endblock %}

{% block extra_head %}
  <link type="text/css" rel="stylesheet" href="{% static 'css/auth/login.css' %}"/>
{% endblock %}

{% block login_content %}
    <form method="POST">
        {% csrf_token %}
        <label for="email" class="form-email">
          <i class="fas fa-envelope"></i>
          <input id="id_email" name="email" type="email" maxlength="254" placeholder="Email" requiered>
        </label>
        <button type="submit">Send link</button>
    </form>
{% endblock %}
