{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<form action="" class="form-signin" method="post">{% csrf_token %}
      <h3 class="form-signin-heading text-center">Please log in</h3>
      {% if form.non_field_errors %}
          <div class="alert alert-danger">
            {{ form.non_field_errors|striptags }}
          </div>
      {% endif %}
      {% if not form.username.errors %}
        <input style="width:250px; margin-top: 10px; margin-left:auto; margin-right:auto;" id="id_username" name="username" type="text" class="form-control" placeholder="Username" autofocus>
      {% else %}
        <div class="form-group has-error">
          {% for error in form.username.errors %}
            <label class="control-label" for="id_username">{{ error }}</label>
          {% endfor %}
          <input style="width:250px; margin-top: 10px; margin-left:auto; margin-right:auto;" id="id_username" name="username" type="text" class="form-control" placeholder="Username" autofocus>
        </div>
      {% endif %}
      {% if not form.password.errors %}
        <input style="width:250px; margin-top: 10px; margin-left:auto; margin-right:auto;" id="id_password" name="password" type="password" class="form-control" placeholder="Password" autofocus>
      {% else %}
        <div class="form-group has-error">
          {% for error in form.password.errors %}
            <label class="control-label" for="id_password">{{ error }}</label>
          {% endfor %}
 
        </div>
      {% endif %}    
      <button style="width:200px; margin-top: 10px; margin-left:auto; margin-right:auto;" class="btn btn-primary btn-block" type="submit">Login</button>
    </form>
    </body>
    </html>